<!DOCTYPE html>
<html>
    <head>
    </head>

    <body style="font-family: Arial; font-size: 12px;">
        <div>
            <p>
                Hello,
            </p>
            <p>
                You have requested a password reset, please follow the link below to reset your password.
            </p>
            <p>
                Please ignore this email if you did not request a password change.
            </p>
            <p>
                <a href="{{ link }}">
                    {{ link }}
                </a>
            </p>
            <p>
                Best regards<br />
                ATS Team
            </p>
        </div>
    </body>
</html>
